@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="container-fluid">
        <div>
            <img src="~/images/Basket_Hoop_with_Ball_in_Black_Background.jpg" alt="soccer" style="width:100%;" />
        </div>
    </div>
</body>
</html>