@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>

    <header>
        <h1 style="color:black; text-align:center;font-family:'Times New Roman';">
            RECENT SPORTS SCORES WILL BE POSTED SOON!
        </h1>
    </header>

</body>