@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html>
<head>

</head>
<body>
   <div class="container-fluid">
       <div >
           <img src="~/images/Close_Up_of_Football_Goal_pic.jpg"  alt="soccer" style="width:100%;" />
       </div>
   </div>
</body>
</html>