body{
     background-image:url(../images/mybackground.jpg);
}
.ICbody {
    background-image:url(../images/mybackground.jpg);
}
.ICjumbotron{
    margin-top:20px;
    background-image:url(../images/sport-balls-grass.jpg);
    background-color:#737373;
    padding-top:20px;
    padding-bottom:30px;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:30px;
    color:black;
    border-radius:10px;

    text-decoration:underline black;
    font-family:'Times New Roman', Times, serif;
    font-style:normal;
   
}

.ICwebsiteinfo{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:24px;
    font-style:normal;
    text-decoration:underline black;
    color:black;
}
.ICnavFontSize{
    font-family:'Times New Roman';
    font-stretch:expanded;
    font-style:normal;
    font-size:30px;
    color:white;
}
.ICBasketballPagePic{
    background-image:url("../images/Basket_Hoop_with_Ball_in_Black_Background.jpg");
}
.ICSoccerPagePic{
    background-image:url("../images/Close_Up_of_Football_Goal_pic.jpg");
}
.ICfooter{
    font-family:'Times New Roman';
    font-style:normal;
    font-size:30px;
    color:white;
}