<!DOCTYPE html>
<script language="JavaScript" type="text/javascript" src="~/js/jquery-3.1.1.js"></script>
<script language="JavaScript" type="text/javascript" src="~/js/bootstrap-3.3.7.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" media="screen" />
<link rel="stylesheet" type="image/svg" href="~/images" media="screen" />
<link rel="stylesheet" type="text/css" href="~/css/site.css" media="screen" />
<link rel="stylesheet" type="text/css" href="~/css/myCss.css" media="screen" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
           <div class="container-fluid">
            <div class="ICjumbotron text-center">
                <h2>ICSPORTSSTATS.COM</h2>
                <h3>welcome to my personal website!</h3>
            </div>
            <!---Navigation bar with Home  Basketball  and   Soccer  etc....-->
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ICnavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="ICnavbar">
                        <ul class="nav navbar-nav">

                            <li class="active"> <a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-controller="Home" asp-action="Basketball">Basketball</a></li>
                            <li><a asp-controller="Home" asp-action="Soccer">Soccer</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a asp-controller="Home" asp-action="About"><span class="glyphicon glyphicon-info-sign">About</span></a></li>
                            <li><a asp-controller="Home" asp-action="Contact"><span class="glyphicon glyphicon-user">Contact me</span></a></li>
                        </ul>
                    </div>
                </div>
            </nav> <!---end of navigation bar...-->
        </div>
      <div>
        @RenderBody()
    </div>
    <footer>
        <div style="font-family:'Times New Roman';color:cadetblue;font-size:24px;" >
            <p>||ICSportStats.com||</p>
        </div>
    </footer>
</body>
</html>
